
.axis path, .axis line {
    fill: none;
    stroke: #fff;
}
.axis text {
    font-size: 12px;
}
.bar1 {
    fill: #4e92c3;
}
.bar2 {
    fill: #57b358;
}
.bar:hover {
    fill: #57b358;
}
svg text.label {
    fill: black;
    font-size: 12px;
    font-weight: 400;
    text-anchor: middle;
}
#averageCostByCity {
    min-width: 531px;
}