{% extends 'base.html' %}
{% block content %}

    <div class="container admin-container">

        <h3>Add a Comment</h3>

        <p>Asterisks (*) indicate required fields</p>

        <p>Comment by {{ session.profile.first_name }} {{ session.profile.last_name[0] }}</p>

        <form action="{{ url_for('insert_comment') }}" method="POST">
            <div class="form-row">
                <div class="col-6 col-lg-4">
                    <label for="dentist">Dentist*</label>
                    <select id="dentist" name="dentist" class="form-control">
                        <option disabled selected value="">Select Dental Office:</option>
                        {% for dentist in dentists %}
                            <option value="{{ dentist.name }}">{{ dentist.name }} - {{ dentist.city }}</option>
                        {% endfor %}
                    </select>
                    <label for="comment">Your Thoughts*</label>
                    <textarea class="form-control" id="comment" name="comment" placeholder="Share your Thoughts"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit Comment</button>
        </form>

    </div>

{% endblock %}
