
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="name">Dental Office Name*</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Dental Office Name" required>
    </div>
    <div class="col-12 col-lg-6">
        <label for="abbr">Abbreviation*</label>
        <input type="text" class="form-control" id="abbr" name="abbr" placeholder="Maximum XX characters" required>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="address">Address*</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Street Address" required>
    </div>
    <div class="col-12 col-lg-6">
        <label for="address2">Address 2</label>
        <input type="text" class="form-control" id="address2" name="address2" placeholder="Use if needed">
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="city">City*</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
    </div>
    <div class="col-12 col-lg-6">
        <label for="state">State*</label>
        <select id="state" name="state" class="form-control" required>
            <option value="" selected>Select one</option>
            <option value="ca">California</option>
            <option value="baja">Baja California</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="postal_code">Postal Code</label>
        <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Postal Code">
    </div>
    <div class="col-12 col-lg-6">
        <label for="area">Metro Area*</label>
        <select id="area" name="area" class="form-control" required>
            <option value="" selected>Select one</option>
            <option value="sd">San Diego</option>
            <option value="tj">Tijuana</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="postal_code">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
    </div>
    <div class="col-12 col-lg-6">
        <label for="area">Website</label>
        <input type="text" class="form-control" id="website" name="website" placeholder="Website">
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-lg-6">
        <label for="postal_code">Latitude*</label>
        <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude" required>
    </div>
    <div class="col-12 col-lg-6">
        <label for="area">Longitude*</label>
        <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude" required>
    </div>
</div>
<div class="form-row">
    <div class="col-4 col-lg-2">
        <p>Average Costs (US dollars)</p>
    </div>
    <div class="col-4 col-lg-2">
        <label for="cleaning">Adult Cleaning</label>
        <input type="number" class="form-control" id="cleaning" name="cleaning" placeholder="$$" required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="filling">Composite Filling</label>
        <input type="number" class="form-control" id="filling" name="filling" placeholder="$$" required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="extraction">Extraction</label>
        <input type="number" class="form-control" id="extraction" name="extraction" placeholder="$$" required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="root_canal">Root Canal</label>
        <input type="number" class="form-control" id="root_canal" name="root_canal" placeholder="$$" required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="crown">Porcelain Crown</label>
        <input type="number" class="form-control" id="crown" name="crown" placeholder="$$" required>
    </div>
</div>

<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="mock_data" name="mock_data">
        <label class="form-check-label" for="mock_data">
            Mock Data
        </label>
    </div>
</div>

