{% extends 'base.html' %}
{% block content %}

    <div class="container admin-container">

        <h3>Edit a Dental Office</h3>

        <p>Asterisks (*) indicate required fields</p>

        <form action="{{ url_for('update_dentist', dentist_id=dentist._id) }}" method="POST">
            {% include 'dentist-form-content.html' %}
            <button class="btn btn-primary" type="submit">Update Dentist</button> <input class="btn btn-primary" type="reset" value="Reset Values">
        </form>

    </div>

{% endblock %}
