{% extends 'base.html' %}
{% block content %}
    <div id="home-container" class="container">

        <h3>Introduction</h3>

        <article>

            <p><span><i class="fas fa-tooth fa-4x"></i></span> While eating lunch one day at a favorite Mexican
                restaurant, my
                friend mentioned her husband needed to have some expensive dental work done but was unable to afford the
                prices
                he was being quoted. Since we live in San Diego, our conversation drifted to dentists across the border
                in Mexico.
                We wondered how much difference is there? This website is the beginning of an answer.</p>

            <figure id="sd-tj" class="figure">
                <img src="{{ url_for('static', filename='images/sd-tj.png') }}" class="figure-img img-fluid rounded" alt="Graphic showing San Diego and Tijuana and opposite sides of the border">
                <figcaption class="figure-cation text-center">&copy;TripSavvy</figcaption>
            </figure>

            <p>I used Yelp to find their Top 10 Best Affordable Dentists in San Diego. I then ran a similar search for
                Tijuana. You can find both lists on the <a href="{{ url_for('top_ten') }}">Top 10 Affordable</a> page. Since a
                number of the dentists on the Tijuana list were actually in San Diego, I skipped them and only took
                Tijuana area dental practices.</p>

            <p>The most important part of the site is the <a href="{{ url_for('cost_comparisons') }}">Cost Comparisons</a> page.
                There is quite a difference between the two cities as far as pricing goes. Additionally, Tijuana
                dentists
                are much more open with their pricing. I leave it up to you to draw your own conclusions.</p>

            <p>In the future, we hope to add a broader variety of dentists along with tips for crossing the border.</p>

        </article>
    </div>
{% endblock %}
