{% extends 'base.html' %}
{% block content %}

<div id="map-container" class="container">

    <h3>Dental Office Locations</h3>

    <p>The Google maps below show the locations of all the dentists from the <a href="top-ten-affordable.html">Top 10
        Affordable</a> page. The <span class="blue"><strong>blue circles</strong></span> indicate multiple offices.
        Click/press
        the circle and the map will automatically zoom in and show the individual dental offices.</p>

    <!--San Diego locations-->
    <div id="sdMap-container">
        <h4>San Diego</h4>
        <div id="sdMap"></div>
    </div>

    <!--Tijuana locations-->
    <div id="tjMap-container">
        <h4>Tijuana</h4>
        <div id="tjMap"></div>
    </div>

</div>

{%  endblock %}

{%  block scripts %}

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>

{% endblock %}