{% extends 'base.html' %}
{% block content %}

    <div class="container comments-container">

        <div>
            <h3 id="comment-head">User Comments</h3>
             {%  if session.username and session.profile.role %}
                <a href='{{ url_for('add_comment') }}'><input type="button" id="comment-btn" class="btn" value='Add a Comment'></a>
            {% endif %}
        </div>

        <dl>
            {% for comment in comments %}
                <dt><strong>{{ comment.dentist }}</strong> - {{ comment.comment }}</dt>
                <dd>{{ comment.user.first_name }} {{ comment.user.last_name[0] }} - {{ comment.formatted_date }}</dd>
            {% endfor %}
        </dl>

    </div>

{% endblock %}
